GUACAMOLE_HOME=/etc/guacamole
GUACD_HOSTNAME=guacamole-server-service
GUACD_PORT=4822
MYSQL_HOSTNAME=${db_address}
MYSQL_PORT=3306
MYSQL_DATABASE=APP_guacamole_uat
LOGBACK_LEVEL=info
EXTENSION_PRIORITY=*,openid

