API_VALIDATION_GATEWAY=https://t6dp1clke0.execute-api.us-east-2.amazonaws.com/${environment}/api/auth/validate
API_VALIDATION_GATEWAY2=https://cf5kee4rvl.execute-api.us-east-2.amazonaws.com/${environment}/api/auth/userinfo
GUACAMOLE_HOME=/etc/guacamole
GUACD_HOSTNAME=guacamole-server-service
GUACD_PORT=4822
HEADER_ENABLED=true
HTTP_AUTH_HEADER=X-Guaca-Auth
MYSQL_HOSTNAME=${db_address}
MYSQL_PORT=3306
MYSQL_DATABASE=APP_guacamole_uat
LOGBACK_LEVEL=debug
EXTENSION_PRIORITY=*,mysql
PROXY_URL=http://guacamole-client-service

