OPENID_AUTHORIZATION_ENDPOINT={openid_authorization_endpoint}  
OPENID_JWKS_ENDPOINT={openid_jwks_endpoint}
OPENID_ISSUER={openid_issuer}
OPENID_CLIENT_ID={openid_client_id}
OPENID_REDIRECT_URI={openid_redirect_uri}